[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-decouple = "*"
django-rest-knox = "*"
google-api-python-client = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.0"
