[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
openai = "*"
djangorestframework = "*"
django-cors-headers = "*"
pipfile = "*"
python-decouple = "*"
django-rest-knox = "*"
google-api-python-client = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
